<h2> Employee List</h2>
<br>
<p>Search for employee</p>
<label>First Name :
  <input type="text" [(ngModel)]="filters.keyword" name="keyword" (input)="getEmployeesName()">
</label>
&nbsp;
<label>Last Name :
  <input type="text" [(ngModel)]="filters.keywordLastName" name="keyword" (input)="getEmployeesLastName()">
</label>
&nbsp;
<label>Email :
  <input type="text" [(ngModel)]="filters.keywordEmail" name="keyword" (input)="getEmployeesEmail()">
</label>
&nbsp;
<button class="btn btn-dark" (click)="Clear()">Clear</button>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Id</th>
      <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.emailId}}</td>
      <td>
        <button (click)="addEmployee()" class="btn btn-primary">
          Add
        </button>
        &nbsp;
        <button (click)="updateEmployee(employee.id)" class="btn btn-primary">
          Update
        </button>
        &nbsp;
        <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">
          Delete
        </button>
        &nbsp;
        <button (click)="employeeDetails(employee.id)" class="btn btn-info">
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>