<div class="col-md-8 offset-md-3">
<h3>Create Employee</h3>
<form (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label> First Name </label>
    <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" required
    #firstNameNgModel = "ngModel"
    name="firstName">
    <div *ngIf="firstNameNgModel.invalid">
      <p-message severity="error" text="Field is required" styleClass="mr-2"></p-message>  
    </div>
  </div>

  <div class="form-group">
    <label> Last Name </label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" required
    #lastNameNgModel = "ngModel"
    name="lastName">
    <div *ngIf="lastNameNgModel.invalid">
      <p-message severity="error" text="Field is required" styleClass="mr-2"></p-message>  
    </div>
  </div>

  <div class="form-group">
    <label> Email </label>
    <input type="text" class="form-control" id="email" 
    [(ngModel)]="employee.emailId" 
    required
    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
    #emailNgModel = "ngModel"
    name="emailId">
    <div *ngIf="emailNgModel.errors?.['pattern']">
      <p-message severity="error" text="invalid is pattern email " styleClass="mr-2"></p-message>  
    </div>
    <div *ngIf="emailNgModel.errors?.['required']">
      <p-message severity="error" text="Field is required" styleClass="mr-2"></p-message>  
    </div>
  </div>

  <br>
  <button [disabled]="firstNameNgModel.invalid || lastNameNgModel.invalid  " class="btn btn-success" type="submit">Submit</button>

</form>
</div>